[submodule "avalanchego"]
	path = avalanchego
	url = https://github.com/mboben/avalanchego.git
	branch = flare-merge
[submodule "coreth"]
	path = coreth
	url = https://github.com/mboben/coreth.git
	branch = flare-merge
